@import "../../colors.scss";
@import "../Components/GeneralStyles.scss";

.products {
  @include disable_scrollbar;

  height: calc(100vh - 4.75rem - 0.125rem);
  padding: 0 2rem;
  overflow-y: scroll;
}

.upload_product {
  @include upload_product_widget;
}
