@import "../../colors.scss";
@import "../Components/GeneralStyles.scss";

.products {
  @include disable_scrollbar;

  height: calc(100vh - 4.75rem - 0.125rem);
  padding: 0 $padding_account_page 2rem;
  overflow-y: scroll;
}

.divider {
  @include account_border(100%, 1px, 2rem 0);
}
