@import "../../colors.scss";
@import "../Components/GeneralStyles.scss";

.dashboard {
  @include disable_scrollbar;

  height: calc(100vh - 4.75rem - 0.125rem);
  overflow-y: scroll;
  padding: 0 $padding_dashboard_layout 2rem;
}

.meta_and_welcome {
  display: flex;
  // justify-content: space-between;
  margin: 0 2rem;
}

.welcome {
  width: 100%;
  max-width: 40rem;
  // margin-left: 2.5rem;
  margin-left: auto;
}

.h2 {
  margin-top: 2.625rem;
  font-size: 1.125rem;
  font-weight: 600;

  span {
    font-family: "Geologica", sans-serif;
    font-weight: 400;
  }
}

.h2_workbench {
  margin-top: 4rem;
}

.workbench {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.workbench_widget {
  @include widget(1.75em 1em);

  width: fit-content;

  transform: translateY(0);
  transition: transform 0.15s ease-out;
  cursor: pointer;

  &:first-child {
    margin-right: 2rem;
  }

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 1.5rem rgba($color: #000000, $alpha: 0.1);
  }
}

.workbench_widget_text {
  font-weight: 500;
  text-align: center;
  color: rgba($color: $main_dark, $alpha: 0.8);
}

.h2_conversations_and_orders {
  margin: 4rem 0 0 2rem;
}

.h2_conversations_and_orders_margin {
  margin-left: 8.125rem;
}

.conversations_and_orders {
  display: flex;
  // justify-content: space-between;
  margin: 0 2rem;
}

.margin_sidebar_collapsed {
  margin: 0 8.125rem;
}

.meta_and_welcome,
.h2_conversations_and_orders,
.conversations_and_orders {
  transition: margin 0.2s ease-out;
}

@media (max-width: 1280px) {
  .welcome {
    width: 31.25rem;
    flex-shrink: 0;
  }

  .conversations_and_orders {
    flex-direction: column;
    justify-content: initial;
  }
}

@media (max-width: 1200px) {
  .meta_and_welcome {
    flex-direction: column;
    justify-content: initial;
  }

  .welcome {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
  }

  .h2 {
    margin-top: 4rem;
  }
}

@media (max-width: 950px) {
  .h2_conversations_and_orders_margin {
    margin-left: 2rem;
  }

  .margin_sidebar_collapsed {
    margin: 0 2rem;
  }
}

@media (max-width: 622px) {
  .workbench {
    justify-content: space-between;
  }

  .workbench_widget {
    width: 45%;

    &:first-child {
      margin: 0;
    }
  }
}

@media (max-width: 520px) {
  .meta_and_welcome,
  .conversations_and_orders {
    margin: 0 1rem;
  }

  .h2_conversations_and_orders {
    margin: 4rem 0 0 1rem;
  }

  .workbench {
    flex-direction: column;
  }

  .workbench_widget {
    width: 100%;

    &:first-child {
      margin-bottom: 1rem;
    }
  }
}

@media (max-width: 450px) {
  .h2 {
    font-size: 1rem;
  }

  .workbench_widget {
    font-size: 0.875rem;
  }
}
