@import "../../colors.scss";
@import "./GeneralStyles.scss";

@mixin transition_width {
  transition: width 0.2s ease-out;
}

@keyframes margin_top {
  from {
    margin-top: 1rem;
  }
  to {
    margin-top: 0.125rem;
  }
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes roll_down {
  from {
    margin: 0.125rem 0 0;
  }
  to {
    margin: 2rem 0 0;
  }
}

@keyframes display {
  from {
    display: none;
  }
  to {
    display: block;
  }
}

$classes: products, services, conversations, orders, statistics, earnings,
  settings, notifications, help;
$delays: 0s, 0.1s, 0.15s, 0.2s, 0.25s, 0.3s, 0.35s, 0.4s, 0.45s;

.sidebar {
  position: relative;

  width: 16.125rem;
  height: 100vh;

  color: $main_bright;
  background-color: $account_dark;

  @include transition_width;
}

.collapse_icon_container {
  width: fit-content;
  margin: 1rem 0.625rem 0 auto;

  transition: scale 0.2s ease-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);

    .collapse_icon:first-child {
      transform: translateX(-0.3rem);
    }

    .collapse_icon:last-child {
      opacity: 1;
    }
  }
}

.collapse_icon {
  opacity: 0.6;

  &:first-child {
    opacity: 1;
    transition: transform 0.2s ease-out;
  }

  &:last-child {
    transition: opacity 0.2s ease-out;
  }
}

.chevron_disabled {
  opacity: 0.5;
  cursor: default;
  &:hover {
    transform: none;

    .collapse_icon:first-child {
      transform: none;
    }

    .collapse_icon:last-child {
      opacity: 0.6;
    }
  }
}

.h2 {
  width: fit-content;
  margin: 1.5rem 2rem 0;
  font-size: 1.125rem;
  font-family: "Lexend", sans-serif;

  opacity: 0;

  span {
    color: $account_accent;
  }
}

.meta_info_container {
  display: flex;
  align-items: center;
  height: 4.875rem;
  margin: 3.125rem 0 0 1rem;
}

.image_wrapper {
  @include image_wrapper(4.25rem);

  border: 2px solid $main_bright;
  opacity: 0;

  img {
    width: 100%;
    height: 100%;
  }
}

.meta_text {
  margin-left: 1.375rem;
  opacity: 0;

  & > p {
    margin-bottom: 0.5rem;
  }
}

.username {
  font-family: "Geologica", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
}

.user_role {
  color: rgba($color: $main_bright, $alpha: 0.8);
}

.tabs_container {
  @include disable_scrollbar;

  height: calc(100vh - 16.875rem);
  overflow-y: scroll;
  margin-top: 3.125rem;
}

.tab_link {
  position: relative;
  display: flex;
  align-items: center;

  padding: 0.75rem 2rem;

  font-weight: 600;

  color: $main_bright;

  cursor: pointer;

  p {
    margin-left: 0.875rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $account_sidebar_tab_fill;
    opacity: 0;
  }

  &:hover::before {
    opacity: 1;
  }
}

.tab_link_active {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $account_sidebar_tab_fill;
    opacity: 1;
  }
}

.dashboard,
.products,
.services,
.conversations,
.orders,
.statistics,
.earnings,
.settings,
.notifications,
.help {
  margin: 0.125rem 0;
}

.section_name {
  width: fit-content;
  height: 0.75rem;

  margin: 0.625rem 0 0.625rem 1rem;

  font-size: 0.625rem;
  letter-spacing: 0;

  color: rgba($color: $main_bright, $alpha: 0.7);

  display: none;
  opacity: 0;
}

.products {
  animation: roll_down 0.2s ease-out forwards;
}

.conversations {
  animation: roll_down 0.2s ease-out 0.1s forwards;
}

.statistics {
  animation: roll_down 0.2s ease-out 0.15s forwards;
}

.settings {
  animation: roll_down 0.2s ease-out 0.2s forwards;
}

.notifications {
  animation: roll_down 0.2s ease-out 0.25s forwards;
}

.after_rolldown {
  .products,
  .conversations,
  .statistics,
  .settings,
  .notifications {
    animation: none;
    margin: 0.125rem 0 0;
  }

  .section_name {
    display: block;
  }

  $sections: section_content, section_coop, section_efficiency, section_account,
    section_general;
  $delay_sections: 0s, 0.1s, 0.2s, 0.3s, 0.4s;
  @each $section, $delay_section in zip($sections, $delay_sections) {
    .#{$section} {
      animation: fade_in 0.2s ease-out $delay_section forwards;
    }
  }
}

.class_fade_in {
  animation: fade_in 0.3s ease-out 0.1s forwards;
}

.class_fade_in_image {
  animation: fade_in 0.3s ease-out 0.2s forwards;
}

// Sidebar collapsed
@mixin sidebar_collapsed {
  width: 3.75rem;

  .collapse_icon_container {
    margin: 1rem auto;
    transform: rotate(180deg);
  }

  .h2 {
    margin: 1.5rem auto;
    opacity: 1;
  }

  .image_wrapper {
    width: 2rem;
    height: 2rem;
    border: 1px solid $main_bright;
    opacity: 1;
  }

  .meta_info_container {
    margin: 2rem auto;
    width: fit-content;
    height: fit-content;
  }

  .meta_text {
    display: none;
  }

  .tabs_container {
    height: calc(100vh - 12.5rem);
    margin-top: 0;
    transition: margin 0.2s ease-out;
  }

  .tab_link {
    justify-content: center;

    padding: 0.875rem 1.375rem;

    p {
      display: none;
    }

    &:not(:first-child) {
      margin-top: 1rem;
    }
  }

  @each $class, $delay in zip($classes, $delays) {
    .#{$class} {
      animation: margin_top 0.2s ease-out $delay forwards;
    }
  }

  .section_name {
    display: none;
  }
}

.sidebar_collapsed {
  @include sidebar_collapsed;
}

// Media queries
@media (max-width: 950px) {
  .sidebar {
    @include sidebar_collapsed;
  }
}

@media (max-width: 450px) {
  .sidebar_collapsed {
    .h2 {
      margin: 1.625rem auto;
    }
  }
}
