@import "../../colors.scss";
@import "./UI/GeneralStyles.scss";

.top_bar,
.interactions_container,
.meta_info_container {
  display: flex;
  align-items: center;
}

.top_bar {
  justify-content: space-between;
  padding: 1.125rem 2rem;
  border-bottom: 0.125rem solid $account_border;
}

.h2 {
  font-size: 1.25rem;
  font-weight: 600;
}

.notifications,
.conversations {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 2.5rem;
  height: 2.5rem;

  margin-right: 1.125rem;

  border-radius: 0.625rem;
  background-color: rgba($color: $account_notifications_hover, $alpha: 0);

  transition: background-color 0.1s ease-out;
  cursor: pointer;

  &:hover {
    background-color: rgba($color: $account_notifications_hover, $alpha: 1);
  }
}

.notifications_icon {
  width: 1.25rem;
  height: 1.25rem;
}

.notifications_dot {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  width: 0.375rem;
  height: 0.375rem;
  background-color: $accent_red;
  border-radius: 50%;
}

.divider {
  border: none;
  margin: 0;
  width: 0.125rem;
  height: 2.5rem;
  border-radius: 0.75rem;
  background-color: $main_dark;
}

.meta_info_container {
  margin-left: 1.125rem;
}

.username {
  margin-right: 1em;
  font-size: 0.75rem;
}

.avatar_container {
  padding: 0.125rem;
  border-radius: 50%;
  border: 2px solid $account_accent;
}

.image_wrapper {
  @include image_wrapper_small;
}

.avatar {
  width: 100%;
  height: 100%;
}
