$main_bright: #fffcfa;
$main_dark: #0d0a08;
$accent_red: #ff4343;
$accent_purple: #6b59d0;
$accent_purple: #a67ad5;
$light_pink: #fb9ad1;
$success: #599c00;
$warning: #ef0606;
$password_too_weak: #6d0000;
$password_middle: #fe8c49;
$password_unreliable: #e6a600;
$widget_bg: #fefefe;
$account_dark: #120d20;
$account_accent: #95abe0;
$account_star: #f9b25b;
$account_green: #00ac86;
$account_orange: #ee7541;
$account_status_delivered: #e197a4;
$account_bg: #f6f6f6;
$account_sidebar_tab_fill: rgba(#f4f9ff, 0.3);
$account_border: #ececed;
$account_notifications_hover: #ececec;
$account_offline_status: #b7b7b7;
