@import "../colors.scss";
@import "../loaders.scss";

.login_window {
  width: 100vw;
  height: 100vh;
  // min-height: 570px;
  padding-top: 1.065rem;

  background-color: $main_bright;
}

@keyframes error_transform {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(-0.5rem);
  }
  60% {
    transform: translateX(0.5rem);
  }
  100% {
    transform: translateX(0);
  }
}
.error_transform {
  animation: error_transform 0.2s linear forwards;
}

.upper_bar {
  display: flex;
  justify-content: space-between;
  margin: 0 1.25rem;
}

.sign_up {
  display: flex;
  align-items: center;
}

.sign_up_p {
  font-weight: 600;
  margin-right: 0.875em;
}

.sign_up_button {
  padding: 0.7em 2em;

  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.1em;

  border: none;
  border-radius: 0.25rem;
  color: $main_bright;
  background: linear-gradient(#7764df, #6b59d0);

  cursor: pointer;
  filter: brightness(100%);
  transition: filter 0.2s ease-out;

  &:hover {
    filter: brightness(110%);
  }
}

.close_icon {
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.main_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p_welcome {
  margin-top: 6.75em;
  font-weight: 600;
}

.title {
  margin-top: 0.55em;

  font-family: "Lexend", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.4rem;
  text-align: center;

  span {
    font-family: "Inter", sans-serif;
    color: $accent_purple;
    letter-spacing: 0.2em;
  }
}

.p_login {
  margin-top: 5.125em;
  font-weight: 600;
}

.form_login {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 1.375rem;

  button {
    width: 15rem;

    margin: 1.75rem 0;
    padding: 1em 2.25rem;

    font-family: "Raleway", sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.1em;

    border: none;
    border-radius: 0.25rem;
    color: $main_bright;
    background-color: $main_dark;

    cursor: pointer;
    filter: brightness(100%);
    transition: 0.2s ease-out;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .button_hover {
    filter: brightness(110%);
    background-color: #292826;
  }
}

.input_block {
  margin-bottom: 1rem;
  width: 15rem;
}

.login_input {
  width: 100%;

  padding: 0.625rem 1.75rem 0.625rem 0.75rem;

  border: none;
  border: 1px solid #868381;
  border-radius: 0.25rem;
  color: $main_dark;
  background-color: $main_bright;

  &:focus {
    outline: none;
    border: 1px solid $main_dark;
  }
}

.forgot_password_prompt {
  width: fit-content;

  margin-top: 0.25rem;
  margin-left: auto;

  font-size: 0.675rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  letter-spacing: 0;

  color: rgba($color: $main_dark, $alpha: 0.5);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.waves_decor {
  position: fixed;
  bottom: 0px;

  width: 110%;
  height: 30%;

  transform: translateY(4px);
  background-image: url("../assets/svg/waves_decor2.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.input_info {
  display: flex;
  align-items: center;
  margin: 0 0.75rem 0.25rem;
}

.warning_icon {
  flex-shrink: 0;
  width: 0.75rem;
  height: 0.75rem;
  color: $warning;
}

.info_message {
  margin-left: 0.25rem;
  font-size: 0.75rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  letter-spacing: 0;
  color: $warning;
}

@media (max-height: 764px) {
  .p_welcome {
    margin-top: clamp(
      1.5em,
      calc(1.5em + (108 - 24) * ((100vh - 690px) / (764 - 690))),
      6.75em
    );
  }
}

@media (max-height: 670px) {
  .p_login {
    margin-top: clamp(
      2.5em,
      calc(2.5em + (82 - 40) * ((100vh - 612px) / (670 - 612))),
      5.125em
    );
  }
}

@media (max-height: 612px) {
  .p_welcome {
    margin-top: 3em;
  }

  .waves_decor {
    display: none;
  }
}

@media (max-width: 1010px) {
  .sign_up_p {
    font-size: 0.875rem;
  }

  .sign_up_button {
    font-size: 0.75rem;
  }
}

@media (max-width: 600px) {
  .sign_up_p {
    font-size: 0.75rem;
  }

  .p_welcome {
    font-size: 0.875rem;
  }

  .title {
    font-size: 2rem;
  }
}

@media (max-width: 440px) {
  .p_welcome {
    margin-top: 3.5em;
  }

  .title {
    font-size: 1.5rem;
    letter-spacing: 0.1em;
  }

  .p_login {
    margin-top: 5.5em;
  }
}

@media (max-width: 440px) and (max-height: 710px) {
  .waves_decor {
    display: none;
  }
}
