@import "../colors.scss";

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sign_up_window {
  display: flex;

  width: 100vw;
  height: 100vh;
  min-height: 1020px;

  background-color: $main_bright;

  z-index: 999;
}

.log_in_section {
  position: relative;

  display: flex;
  justify-content: center;
  width: 40%;

  border-radius: 0 3.375rem 3.375rem 0;
  background-color: $main_dark;
}

.bg_texture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/SignUp/signup_bg_texture.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0 3.375rem 3.375rem 0;
  opacity: 0.15;
}

.log_in_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.p_log_in {
  font-weight: 600;
  color: $main_bright;
}

.button_log_in {
  margin-top: 3rem;
  padding: 0.625rem 2rem;

  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.1em;

  border: none;
  border-radius: 0.25rem;
  color: $main_bright;
  background: linear-gradient(#7764df, #6b59d0);

  cursor: pointer;
  filter: brightness(100%);
  transition: filter 0.2s ease-out;

  &:hover {
    filter: brightness(110%);
  }
}

.sign_up_section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.sign_up_content {
  width: 80%;
}

.p_join_us {
  margin-bottom: 3rem;

  font-family: "Geologica", sans-serif;
  font-weight: 300;
  text-align: center;
}

.title {
  width: fit-content;

  margin: 0 auto 1em;

  font-family: "Lexend", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.4rem;
  text-align: center;

  span {
    font-family: "Inter", sans-serif;
    color: $accent_red;
    letter-spacing: 0.2em;
  }

  br {
    display: none;
  }
}

.tagline {
  max-width: 31rem;

  margin: 0 auto 4.5rem;

  font-size: 1rem;
  font-family: "Geologica", sans-serif;
  font-weight: 100;
  text-align: center;

  span {
    font-weight: 300;
    color: $accent_red;
  }
}

.close_icon {
  position: absolute;
  top: 1.0625rem;
  right: 1.25rem;

  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.sign_up_form {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  button {
    width: 15rem;

    margin-top: 1.75rem;
    padding: 1em 2.25rem;

    font-family: "Raleway", sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.1em;

    border: none;
    border-radius: 0.25rem;
    color: $main_bright;
    background-color: $main_dark;

    cursor: pointer;
    filter: brightness(100%);
    transition: 0.2s ease-out;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .button_hover {
    filter: brightness(110%);
    background-color: #292826;
  }
}

.input_block {
  margin-bottom: 1rem;
  width: 15rem;
}

.input_container {
  position: relative;
}

.sign_up_input {
  width: 100%;

  padding: 0.625rem 1.75rem 0.625rem 0.75rem;

  border: none;
  border: 1px solid #868381;
  border-radius: 0.25rem;
  color: $main_dark;
  background-color: $main_bright;

  &:focus {
    outline: none;
    border: 1px solid $main_dark;
  }
}

.eye_icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.625rem;

  width: 1rem;
  height: 1rem;

  color: rgba($color: $main_dark, $alpha: 0.5);
  cursor: pointer;
}

.input_info {
  display: flex;
  align-items: center;
  margin: 0.25rem 0.75rem 0;
}

.warning_icon,
.success_icon {
  flex-shrink: 0;
  width: 0.75rem;
  height: 0.75rem;
}

.warning_icon {
  color: $warning;
}

.success_icon {
  color: $success;
}

.info_message {
  margin-left: 0.25rem;
  font-size: 0.75rem;
  letter-spacing: 0;
}

.info_success {
  color: $success;
}

.info_warning {
  color: $warning;
}

.password_status_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0.5rem 0.75rem 0;
}

.bar {
  width: 18%;
  height: 0.25rem;
  border-radius: 0.375rem;
}

.account_types {
  margin-top: 1rem;
  font-size: 0.875rem;
  letter-spacing: 0;
}

.account_types_header {
  span {
    color: rgba($color: $main_dark, $alpha: 0.5);
  }
}

.options_container {
  margin-top: 1rem;
}

.option {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  cursor: pointer;

  input {
    position: relative;
    appearance: none;

    width: 0.75rem;
    height: 0.75rem;

    border-radius: 50%;
    border: 1px solid rgba($color: $main_dark, $alpha: 0.7);

    transition: border 0.1s ease-out;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      width: 0.5rem;
      height: 0.5rem;
      background-color: $main_dark;
      border-radius: 50%;
      display: none;
    }

    &:checked {
      border: 1px solid $main_dark;
      &::after {
        display: block;
      }
    }

    &:hover {
      border: 1px solid $main_dark;
    }
  }

  &:hover {
    input {
      border: 1px solid $main_dark;
    }
    .account_type {
      color: $main_dark;
    }
  }
}

.account_type {
  margin-left: 0.5rem;
  color: rgba($color: $main_dark, $alpha: 0.7);
  cursor: pointer;
  transition: color 0.1s ease-out;
}

.account_type_checked {
  color: $main_dark;
}

.divider {
  border: none;
  width: 100%;
  height: 1px;
  margin-top: 0;
  background-color: rgba($color: $main_dark, $alpha: 0.1);
}

.additional_info {
  margin-top: 0.5em;
  font-size: 0.75rem;
  color: rgba($color: $main_dark, $alpha: 0.5);
}

// Loading circle
.loader {
  width: 1.125rem;
  height: 1.125rem;

  margin: 0.25rem 0.75rem 0;

  border: 0.125rem solid #d9d9d9;
  border-top: 0.125rem solid #868381;
  border-bottom: 0.125rem solid #868381;
  border-radius: 50%;

  animation: spin 0.5s ease-in-out infinite;
}

@media (max-width: 1010px) {
  .sign_up_window {
    justify-content: center;
  }

  .bg_texture {
    display: none;
  }

  .log_in_section {
    position: absolute;
    top: 1.375rem;
    left: 1.375rem;
    display: block;
    width: fit-content;

    border-radius: 0;
    background: transparent;
  }

  .log_in_content {
    flex-direction: row;
  }

  .p_log_in {
    font-size: 0.875rem;
    color: $main_dark;
  }

  .button_log_in {
    margin-top: 0;
    margin-left: 1rem;
    padding: 0.625rem 1.5rem;

    font-size: 0.75rem;
    background: $main_dark;
  }

  .sign_up_section {
    width: 100%;
  }

  .sign_up_content {
    padding: 0 1rem;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .sign_up_window {
    height: fit-content;
    min-height: fit-content;
  }

  .sign_up_content {
    margin: 7rem 0 2rem;
  }

  .close_icon {
    right: 0.375rem;
  }

  .log_in_section {
    left: 1rem;
  }

  .p_log_in {
    font-size: 0.75rem;
  }

  .button_log_in {
    padding: 0.625rem 1rem;
    font-size: 0.625rem;
  }

  .p_join_us {
    margin-bottom: 2rem;
    font-size: 0.875rem;
  }

  .title {
    font-size: 2rem;
  }

  .tagline {
    margin-bottom: 2rem;
    font-size: 0.875rem;
  }
}

@media (max-width: 440px) {
  .button_log_in {
    margin-left: 0.5rem;
  }

  .title {
    font-size: 1.5rem;
    letter-spacing: 0.1em;
  }

  .tagline {
    font-size: 0.75rem;
  }
}
