@import "../../../colors.scss";
@import "../../../GeneralStyles.scss";

.upload_product {
  padding: 2.5rem 1rem;
}

.content {
  width: 100%;
  max-width: 44.75rem;

  margin: 0 auto;
}

.h2 {
  margin-bottom: 1.8rem;
  font-size: 1.875rem;
  font-weight: 600;
}

.steps,
.step {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.step {
  font-size: 0.875rem;
  font-weight: 500;

  color: rgba($color: $main_dark, $alpha: 0.3);
  .step_number {
    background-color: rgba($color: $main_dark, $alpha: 0.3);
  }

  &:not(:last-child) {
    margin-right: 1rem;
  }
}

.current_step {
  color: $main_dark;
  .step_number {
    background-color: $main_dark;
  }
}

.step_number {
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 2.125rem;
  height: 2.125rem;

  border-radius: 50%;
  color: $main_bright;

  font-family: "Geologica", sans-serif;
  font-weight: 300;
}

.step_name {
  margin-left: 1.25rem;
}

.nav_buttons,
.nav_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_button {
  padding: 0.75rem 0.625rem;

  font-size: 0.875rem;
  font-weight: 600;

  border-radius: 0.25rem;
  color: $main_bright;

  cursor: pointer;
  transition: 0.15s ease-out;

  &:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);

    .chevron_left {
      transform: translateX(-0.25rem);
    }
  }
}

.prev_button {
  background-color: $main_dark;
  padding-right: 0.75rem;

  p {
    margin-left: 0.5rem;
  }
}

.next_disabled,
.next_enabled {
  background-color: rgba($color: $account_green, $alpha: 0.5);
  padding-left: 0.75rem;

  p {
    margin-right: 0.5rem;
  }
}

.next_disabled {
  cursor: default;
  &:hover {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
  }
}

.next_enabled {
  background-color: $account_green;
  .chevron_right {
    transform: translateX(0.25rem);
  }
}

.chevron {
  width: 1.25rem;
  height: 1.25rem;
  transition: transform 0.15s ease-out;
}

.divider {
  border: 0;

  width: 11rem;
  height: 1px;

  margin: 0;
  margin-top: 5.125rem;

  background-color: rgba($color: $main_dark, $alpha: 0.2);
}

.footnote {
  margin-top: 0.5em;

  font-size: 0.75rem;
  font-weight: 500;

  color: rgba($color: $main_dark, $alpha: 0.5);
  letter-spacing: 0.05em;

  span {
    color: $accent_red;
    font-weight: 900;
  }
}
