@import "../colors.scss";

li {
  list-style: none;
}

.nav_bar {
  display: flex;
  align-items: center;

  position: fixed;
  top: 0;

  width: 100vw;

  padding: 0 3em;

  font-size: 1rem;

  background-color: rgba($color: $main_bright, $alpha: 0.7);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);

  transition: color, background-color 0.2s ease-out;
  z-index: 998;
}

.nav_bar_dark_default {
  background-color: rgba(#010816, 0.7);

  .nav_link {
    color: $main_bright;

    .chevron {
      color: $main_bright;
    }
  }

  .logging {
    color: $main_bright;
    .log {
      color: $main_bright;
    }
  }

  .burger_icon {
    color: $main_bright;
  }
}

.nav_bar_dark_black {
  background-color: rgba($main_dark, 0.7);
}

.nav_links {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 3rem;
}

.link_container {
  position: relative;

  margin-right: 2rem;
  padding: 2em 0;

  .chevron {
    margin-left: 0.5rem;
    color: $main_dark;
    transition: 0.2s ease-out;
  }

  &:hover {
    .chevron {
      color: $accent_red;
      transform: rotate(-180deg);
    }

    .submenu {
      visibility: visible;
      opacity: 1;
    }
  }
}

.nav_link {
  display: flex;
  align-items: center;

  font-weight: 500;

  cursor: pointer;
}

a {
  text-decoration: none;
  color: $main_dark;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);

  z-index: 2;

  width: max-content;
  min-width: 11.25rem;

  padding: 1.25rem 1rem;

  background-color: $main_bright;
  border-radius: 3px;
  box-shadow: 0 0 8px 1px rgba($color: #000000, $alpha: 0.1);

  visibility: hidden;
  opacity: 0;

  transition: opacity 0.1s ease-out;

  &::before {
    content: "";
    width: 0px;
    height: 0px;
    display: block;
    border-style: solid;
    border-width: 0 18px 20px 18px;
    border-color: transparent transparent $main_bright transparent;
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
    filter: drop-shadow(0 -3px 3px rgba(0, 0, 0, 0.1));
  }
}

.submenu_header {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 1rem;
  cursor: default;
}

.submenu_body {
  a {
    font-size: 0.875rem;
    color: rgba($color: $main_dark, $alpha: 0.8);

    &:hover {
      text-decoration: underline;
      text-decoration-color: rgba($color: $main_dark, $alpha: 0.8);
      text-underline-offset: 2px;
    }
  }

  & li:not(:last-child) {
    margin-bottom: 0.75rem;
  }
}

.logging {
  display: flex;
  gap: 0.5em;

  margin-left: auto;

  font-weight: 500;

  .divider {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .log {
    cursor: pointer;
    transition: color 0.2s ease-out;

    &:hover {
      color: $accent_red;
    }
  }
}

.toggle_icons_container {
  position: absolute;
  right: 0;

  display: none;
  transform: translateX(-1rem);

  font-size: 1.5rem;
  color: $main_bright;
  z-index: 4;
}

.burger_icon {
  display: none;
  color: $main_dark;
  // color: $main_bright;
  cursor: pointer;
}

.close_icon {
  display: block;
  cursor: pointer;
}

.show {
  display: block;
}

.hide {
  display: none;
}

// Sidebar
.mobile_sidebar {
  position: absolute;
  top: 0;
  right: 0;

  display: none;
  padding: 5rem 0 0.75rem;

  width: 15rem;
  height: 100vh;
  // min-height: calc(4.5rem + 30rem);

  font-size: 1rem;

  color: $main_bright;
  background-color: rgba($color: $main_dark, $alpha: 1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);

  z-index: 3;

  .sidebar_logging {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin: 2rem 1rem;

    font-weight: 500;

    .sidebar_log {
      cursor: pointer;
      transition: color 0.2s ease-out;

      &:hover {
        color: $accent_red;
      }
    }
  }
}

.sidebar_content {
  height: 75%;
  overflow-y: auto;
}

.sidebar_nav_links {
  display: flex;
  flex-direction: column;

  width: fit-content;

  margin: 0 1rem 0.75rem;

  .sidebar_link_container {
    position: relative;
    margin: 0;
    padding: 0;

    .sidebar_chevron {
      margin-left: 0.5rem;
    }

    .sidebar_nav_link {
      display: flex;
      align-items: center;

      font-weight: 500;

      cursor: pointer;

      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    &:not(:last-child) {
      margin-bottom: 0.75rem;
    }
  }

  .sidebar_submenu {
    margin-left: 1rem;
    margin-top: 0.875rem;

    font-size: 0.875rem;

    li {
      a {
        color: $main_bright;
        transition: color 0.1s ease-out;
        &:hover {
          color: $accent_red;
        }
      }
    }
    & li:not(:last-child) {
      margin-bottom: 0.75rem;
    }

    display: none;
  }
}

// Add this class if link is toggled
.link_toggled {
  .sidebar_submenu {
    display: block;
  }

  .sidebar_nav_link {
    .sidebar_chevron {
      color: $accent_red;
      transform: rotate(-180deg);
    }
  }
}

.sidebar_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  position: absolute;
  bottom: 0.875rem;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  padding: 0 1rem;
}

.copyright {
  font-size: 0.875rem;
  text-align: center;
}

.social_media_container {
  display: flex;
  gap: 0.875rem;
  font-size: 1.5rem;

  .social_media {
    color: $main_bright;
  }
}

// Media queries
@media (max-width: 1010px) {
  .nav_bar {
    padding: 0.75em 1em;
  }

  .link_container {
    display: none;
  }

  .logging {
    display: none;
  }

  .toggle_icons_container {
    display: block;
  }

  .sidebar_visible {
    display: block;
  }
}
