@import "../../../colors.scss";

@keyframes pop_up_item_reveal {
  from {
    visibility: hidden;
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes pop_up_item_hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(30px);
  }
}

.products_section {
  width: 100%;
  max-width: 72.75rem;

  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 0 1rem;

  overflow-y: hidden;
}

.header {
  display: flex;
  align-items: first baseline;
  margin-top: 3.75rem;
}

.h1 {
  padding-bottom: 3.75rem;

  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.name_and_links {
  display: flex;
  align-items: first baseline;
}

.section_name {
  position: relative;

  margin-left: 0.75rem;
  padding-bottom: 0.5rem;

  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.2rem;

  cursor: pointer;

  .underline {
    position: absolute;
    left: -0.5rem;
    bottom: -0.3rem;
    cursor: default;
  }
}

.pop_up_menu {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  margin-left: 1em;

  font-size: 1.625rem;
  font-weight: 600;

  display: none;
}

.pop_up_item {
  margin-right: 1.125rem;
  padding: 0.25rem 0.625rem;

  color: rgba($color: $main_dark, $alpha: 0.3);
  background-color: #fefefe;
  border-radius: 0.25rem;
  box-shadow: 0 0 1.5rem rgba($color: #000000, $alpha: 0.1);

  display: none;
  opacity: 0;

  transition: color 0.2s ease-out, opacity 0.2s ease-out;

  &:hover {
    color: rgba($color: $main_dark, $alpha: 0.5);
  }
}

.item_1 {
  display: block;
  animation: pop_up_item_reveal 0.2s ease-out forwards;
}

.item_2 {
  display: block;
  animation: pop_up_item_reveal 0.2s ease-out 0.1s forwards;
}

.item_3 {
  display: block;
  animation: pop_up_item_reveal 0.2s ease-out 0.2s forwards;
}

.item_hidden,
.item_hidden,
.item_hidden {
  display: block;
  opacity: 1;
  animation: pop_up_item_hide 0.2s ease-out forwards;
}

.template {
  height: 100vh;
  margin-top: 1.25rem;
}

.content {
  margin-top: 1.25rem;
}

.title_icon {
  margin-left: 0.75rem;
}

.new_block,
.main_content {
  margin-top: 4.5rem;
}

.h2 {
  margin-left: 1.75rem;

  font-size: 1.25rem;
  font-weight: 600;

  letter-spacing: 0.1rem;
}

@media (max-width: 1200px) {
  .products_section {
    max-width: 60rem;
  }
}

@media (max-width: 1024px) {
  .section_name {
    padding-bottom: 0.25rem;

    .underline {
      bottom: -0.5rem;
    }
  }
}

@media (max-width: 960px) {
  .content {
    margin-top: 3rem;
  }

  .products_section {
    max-width: 47rem;
  }

  .pop_up_menu {
    & .pop_up_item:not(:last-child) {
      margin-bottom: 1.125rem;
    }
  }
}

@media (max-width: 768px) {
  .h1 {
    padding-bottom: 7.2rem;
  }

  .content {
    margin-top: 1rem;
  }

  .products_section {
    max-width: 42rem;
  }
}

@media (max-width: 672px) {
  .products_section {
    max-width: 36rem;
  }
}

@media (max-width: 600px) {
  .h1 {
    padding-bottom: 3rem;
  }

  .name_and_links {
    flex-direction: column;
    align-items: flex-start;
  }

  .section_name {
    margin-left: 0.625rem;
    margin-bottom: 1.125rem;
  }

  .pop_up_menu {
    margin-left: 0;
  }
}

@media (max-width: 420px) {
  .header {
    flex-direction: column;
    padding-bottom: 3rem;
  }

  .h1 {
    padding-bottom: 0rem;
  }

  .section_name {
    margin-left: 0;
  }
}
