@import "../../../colors.scss";

.main_seciton {
  position: relative;
  display: flex;
  align-items: flex-start;
  font-family: "Onset", sans-serif;
}

.products_container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  height: fit-content;

  margin-top: 2rem;
  margin-left: 1.25rem;
}

@media (max-width: 768px) {
  .main_seciton {
    flex-direction: column;
  }

  .products_container {
    column-gap: 2.375rem;
    margin-left: 0;
  }
}

@media (max-width: 672px) {
  .products_container {
    max-width: 25rem;
    column-gap: 1.5rem;
    margin: 2rem auto 0;
  }
}

@media (max-width: 460px) {
  .products_container {
    max-width: clamp(
      18rem,
      calc(18rem + (384 - 288) * ((100vw - 320px) / (460 - 320))),
      24rem
    );
    column-gap: 0.5rem;
  }
}
