@import "../colors.scss";

.footer {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/HomePage/bg_texture_footer.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    mix-blend-mode: darken;
    opacity: 0.05;
  }
}

.divider {
  width: 100%;
  height: 2px;
  margin: 0;
  border-radius: none;
  background-color: #eee7e2;
}

.main_content {
  max-width: 51.5rem;

  margin: 0 auto;
  padding: 4rem 1.375rem 6.25rem;

  .divider {
    margin: 4rem 0 2.5rem;
    background-color: rgba($color: $main_dark, $alpha: 0.05);
  }
}

.nav_links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 100%;

  & .links_container:not(:last-child) {
    margin-right: 1.5rem;
    margin-bottom: 1rem;
  }
}

.links_container {
  .link_header {
    display: flex;
    align-items: center;

    margin-bottom: 2.25rem;
    font-weight: 600;
  }

  .chevron {
    display: none;
  }

  .links {
    display: flex;
    flex-direction: column;
  }

  a {
    font-size: 0.875rem;
    opacity: 0.6;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }

  ul li:not(:last-child) {
    margin-bottom: 0.875rem;
  }
}

.bottom_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  margin: 0 0.5rem;

  font-family: "Lexend";
  font-size: 0.75rem;
  font-weight: 300;
  text-align: center;

  opacity: 0.6;
}

.social_media_container {
  display: flex;
  gap: 0.875rem;
}

.social_media {
  opacity: 0.6;
}

@media (max-width: 635px) {
  .main_content {
    padding: 2rem 1.375rem 3rem;
  }

  .nav_links {
    flex-direction: column;
    justify-content: center;

    & .links_container:not(:last-child) {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }

  .links_container {
    .link_header {
      margin-bottom: 0;
    }

    .chevron {
      display: block;
      margin-left: auto;
      color: $main_dark;
    }

    .links {
      margin-top: 1rem;
      display: none;
    }
  }

  .link_toggled {
    .links {
      display: block;
    }

    .chevron {
      transform: rotate(-180deg);
    }
  }
}

@media (max-width: 500px) {
  .bottom_bar {
    flex-direction: column;

    & li:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
