@import "../../../colors.scss";

.services_section {
  margin: 0 auto;
  padding: 0 1.375rem 10.25rem;

  width: fit-content;
  max-width: 57rem;

  color: $main_dark;
}

.h2 {
  margin-bottom: 3.5em;

  font-weight: 600;
  font-size: 1.75rem;

  text-align: center;
}

.services_container {
  display: flex;
  justify-content: center;
  gap: 1.75rem;
  flex-wrap: wrap;
}

.service {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  padding: 1.75rem 1.5rem 1rem;

  background-color: $main_bright;
  border-radius: 0.75rem;
  box-shadow: 0 3px 15.5px rgba($color: #000000, $alpha: 0.12);

  transform: translateY(0);
  transition: 0.15s ease-out;

  cursor: default;

  &:hover {
    box-shadow: 0 3px 11px rgba($color: #000000, $alpha: 0.2);
    transform: translateY(-4px);
  }
}

.icon_wrapper {
  width: 3.75rem;
}

.service_text {
  width: 100%;
  max-width: 16.5rem;
}

.h3 {
  margin-bottom: 1.625rem;
  font-size: 1.125rem;
  font-weight: 600;
}

.description {
  margin-bottom: 1rem;
  font-size: 0.875rem;
  font-weight: 300;
  opacity: 0.7;
}

.link {
  font-size: 0.875rem;
  font-weight: 500;
  color: $accent_pink;
  transition: 0.2s ease-out;

  &:hover {
    text-decoration: underline;
  }
}

.mock_service {
  width: 24.75rem;
  visibility: hidden;
}

// Media queries
@media (max-width: 620px) {
  .services_section {
    padding: 0 1.375rem 6rem;
  }

  .h2 {
    font-size: 1.625rem;
  }

  .mock_service {
    display: none;
  }
}

@media (max-width: 430px) {
  .service {
    flex-direction: column;
  }

  .icon_wrapper {
    width: fit-content;
  }

  .service_text {
    text-align: center;
  }
}
