@import "../../../colors.scss";
@import "../GeneralStyles.scss";

.product_section {
  padding-top: 2rem;
}

.product_header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 2rem;
}

.h2 {
  font-size: 1.125rem;
  font-weight: 600;
}

.upload_product {
  @include upload_product_widget;
}

.product_content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.25rem;
}

.select_product {
  width: 20rem;
  margin-left: 4.25rem;
}

.product_list {
  margin-top: 4.5rem;
  font-family: "Geologica", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
}

.product_list_item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  padding: 0.5rem;

  letter-spacing: 0.05em;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 0.25rem;
  }

  &:hover {
    background-color: rgba($color: $account_offline_status, $alpha: 0.1);
  }
}

.active_product {
  background-color: rgba($color: $account_accent, $alpha: 0.15);

  &:hover {
    background-color: rgba($color: $account_accent, $alpha: 0.15);
  }
}

.product_name {
  word-break: break-all;
}

.duration {
  margin-left: 0.25rem;
  color: rgba($color: $main_dark, $alpha: 0.5);
}
