@import "../../../../colors.scss";
@import "../../../../GeneralStyles.scss";

.song_item {
  position: relative;

  max-width: 11.75rem;

  margin-left: 1.5rem;
  margin-bottom: 1.25rem;

  font-family: "Onest", sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.image_wrapper {
  flex-shrink: 0;
  position: relative;

  width: 11.75rem;
  height: 11.75rem;

  margin-bottom: 0.375rem;

  border-radius: 0.25rem;
  overflow: hidden;

  cursor: pointer;

  img {
    width: 100%;
  }
}

.image_hover {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border-radius: 0.25rem;
  background-color: rgba($color: #000000, $alpha: 0.5);

  backdrop-filter: blur(0.125rem);
  -webkit-backdrop-filter: blur(0.125rem);

  opacity: 0;
  transition: opacity 0.2s ease-out;

  &:hover {
    opacity: 1;
  }
}

.decor_and_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.625rem 0.5rem;
}

.more_info_icon {
  width: 1.5rem;
  height: 1.5rem;
  color: $widget_bg;
  transition: 0.15s ease-out;

  &:hover {
    color: #eaccff;
  }
}

.play_icon {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 4rem;
  height: 4rem;

  color: $widget_bg;

  transform: translateX(-50%) translateY(-50%);
}

.name {
  margin-top: 0.75rem;

  font-size: 1.125rem;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.author {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  color: rgba($color: $main_dark, $alpha: 0.3);
}

.name,
.author {
  @include text_overflow;
}

.divider {
  width: 2rem;
  height: 0.125rem;

  margin: 0.625rem 0 0;

  border: 0;
  background-color: $accent_purple;
}

.price_container {
  margin-top: 0.5rem;
}

.price_name {
  font-size: 0.75rem;
  color: rgba($color: $main_dark, $alpha: 0.3);
}

.price {
  margin-top: 0.25rem;
  font-size: 1.125rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  margin-top: 0.75rem;
  cursor: default;
}

.tag {
  padding: 0.25rem 0.75rem;

  font-size: 0.75rem;
  font-weight: 500;

  border-radius: 0.25rem;
  background-color: $widget_bg;
  box-shadow: 0 0.125rem 6.6px rgba($color: #000000, $alpha: 0.11);
}

.action_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.buy_button {
  @include buy_button(0.5rem 2.75rem, 0.875rem);
}

.like_container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 2.375rem;
  height: 2.125rem;

  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.15s ease-out;

  &:hover {
    background-color: rgba($color: $light_pink, $alpha: 0.12);
  }
}

.like_icon {
  width: 1.25rem;
  height: 1.25rem;
  color: $light_pink;
}

@media (max-width: 1200px) {
  .song_item {
    margin-left: 1.625rem;
  }
}

@media (max-width: 960px) {
  .song_item {
    margin-left: 1.875rem;
  }
}

@media (max-width: 768px) {
  .song_item {
    margin-left: 0;
  }
}

@media (max-width: 460px) {
  .song_item {
    max-width: clamp(
      8.75rem,
      calc(8.75rem + (188 - 140) * ((100vw - 320px) / (460 - 320))),
      11.75rem
    );

    margin-bottom: 1rem;
  }

  .image_wrapper {
    width: clamp(
      8.75rem,
      calc(8.75rem + (188 - 140) * ((100vw - 320px) / (460 - 320))),
      11.75rem
    );
    height: clamp(
      8.75rem,
      calc(8.75rem + (188 - 140) * ((100vw - 320px) / (460 - 320))),
      11.75rem
    );
  }

  .name,
  .price {
    font-size: clamp(
      1rem,
      calc(1rem + (20 - 16) * ((100vw - 320px) / (460 - 320))),
      1.25rem
    );
  }

  .buy_button {
    padding: 0.5rem
      clamp(
        1.5rem,
        calc(1.5rem + (44 - 22) * ((100vw - 320px) / (460 - 320))),
        2.75rem
      );
  }
}
